/* stylelint-disable */

$colorGray: #EFEFEF;
$colorPrimary: #4545A5;
$colorSecondary: #6C757D;
$colorSuccess: #28A745;
$colorInfo: #17A2B8;
$colorWarning: #FFC107;
$colorDanger: #DC3545;
$colorLight: #FBFBFB;
$colorDark: #343A40;

$sizeExtraSmall: 0.5rem;
$sizeHeading: 2rem;
$sizeSmall: 0.875rem;
$sizeStandard: 1rem;
$sizeMedium: 1.5rem;
$sizeLarge: 1.75rem;
$sizeLarger: 3rem;
$sizeExtraLarge: 4.5rem;
