main.main
    aside.sidebar
        include includes/headerChat.pug
        .tab-content(id="myTabContent")
            include includes/contacts.pug
            include includes/chat.pug
            include includes/profile.pug
            include includes/chatLeft.pug
    include includes/chatRight.pug
