main.main
    aside.sidebar
        include includes/header.pug
        .tab-content(id="myTabContent")
            include includes/contacts.pug
            include includes/chat.pug
            include includes/profile.pug
    include includes/emptyRight.pug
