section.chats.tab-pane.fade(id="chats", role="tabpanel", aria-labelledby="chats-tab")
    h1.chats__heading Чаты
    input.chats__search(placeholder="Поиск по сообщениям")(type="text")
    div.chats-card
        img.chats-card__image(src="/img/avatar_4.jpg")
        h2.chats-card__name Вениамин Редакторович
        span.chats-card__time 11:45
        span.chats-card__status o_O
    div.chats-card
        img.chats-card__image(src="/img/avatar_2.jpg")
        h2.chats-card__name Джедай Падаванов
        span.chats-card__time 10:12
        span.chats-card__status Привет, скоро третий проект? Уже скоро ...
    div.chats-card
        img.chats-card__image(src="/img/avatar_3.jpg")
        h2.chats-card__name Алексей Примадонин
        span.chats-card__time 08:53
        span.chats-card__status Тесты упали >_<
