ul.message-list
    li.message-list-item.message-list-item--sender
        img.message-list-item__image(src="/img/avatar_4.jpg")
        div.message-list-item-body
            p.message-list-item__author Вениамин Редакторович
            p.message-list-item__message Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
            span.message-list-item__time 8 минут назад
    li.message-list-item.message-list-item--you
        img.message-list-item__image(src="/img/avatar_1.jpg")
        div.message-list-item-body
            p.message-list-item__message Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
            span.message-list-item__time 8 минут назад
    li.message-list-item.message-list-item--sender
        img.message-list-item__image(src="/img/avatar_4.jpg")
        div.message-list-item-body
            p.message-list-item__author Вениамин Редакторович
            p.message-list-item__message Лады
            span.message-list-item__time 5 минут назад
    li.message-list-item.message-list-item--you
        img.message-list-item__image(src="/img/avatar_1.jpg")
        div.message-list-item-body
            p.message-list-item__message А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
            span.message-list-item__time 3 минуты назад
    li.message-list-item.message-list-item--sender
        img.message-list-item__image(src="/img/avatar_4.jpg")
        div.message-list-item-body
            p.message-list-item__author Вениамин Редакторович
            p.message-list-item__message o_O
            span.message-list-item__time Только что
