section.empty-right-section
    div.empty-right-section-card
        img.empty-right-section-card__image(src="/img/avatar_1.jpg")(alt="Кодовёнок Хекслетович")
        h2.empty-right-section-card__heading Привет, Кодовёнок
        p.empty-right-section-card__paragraph Выбери чат, чтобы начать общаться
